@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root{
    --color-theme: #20d3c2;
    --color-theme-light: #EDFCFA;
    --color-theme-dark: #0e153d;
    --color-dark: #080C24;
    --color-white: #FFFFFF;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;
    --color-gray-2: #E3E3E3;
    --color-gray-3: #EEEEEE;    
    --color-gray-4: #F6F6F6;
    --color-product-instock: #82D8C6;
    --color-product-outofstock: #FE6C6C;

    --font-play:'Play', sans-serif;
    --font-roboto:'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14: 1.17rem;
    --font-size-16: 1.33rem;
    --font-size-18: 1.50rem;
    --font-size-24: 2.00rem;
    --font-size-36: 3.00rem;
    --font-size-60: 5.00rem;


    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;

}

html,body {
    font-size:16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-dark);
}

/* general */

.btn-theme{
    background-color: var(--color-theme);
    color:var(--color-white);
    border-radius:var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left:1.75rem ;
    padding-right:1.75rem ;
}
    .btn-theme:hover{
        background-color:var(--color-theme-dark);
        color: var(--color-white);
    }

    




/* Top Menu -- Language/currency, Sitelinks & Socialmedia */
.top-menu{
    background-color: var(--color-theme);
    color: var(--color-white);
    height: 40px;
    display: none;
}

    .top-menu > .container{
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0;
    }

    .top-menu .site-settings {
        display: flex;
        
    }

        .top-menu .site-settings .dropdown-theme{
            background-color: var(--color-theme);
            color: var(--color-white);
            border: none;
        }
        
            .top-menu .site-settings .dropdown-theme button{
                background-color: var(--color-theme);
                color: var(--color-white);
                border: none;
            }
                .top-menu .site-settings .dropdown-theme button:hover{
                    color: var(--color-theme-dark);
                    }

            .top-menu .site-settings .dropdown-theme .dropdown-menu{
                background-color: var(--color-theme);
                color: var(--color-white);
                border: none;
            }
                
                .top-menu .site-settings .dropdown-theme .dropdown-menu .dropdown-item{
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border: none;
                    width: 100%;
                    margin: 0;
                }
                    
                    .top-menu .site-settings .dropdown-theme .dropdown-menu .dropdown-item:hover{
                        background-color: var(--color-dark);
                        color: var(--color-white);
                    }
             

    .top-menu .menu-links{
       display:none ;
    }  

    .top-menu .menu-links .site-links{
        display: none;
    }
    
    .top-menu .menu-links a{
        color:var(--color-white);
        text-decoration: none;
        margin: 1.4rem;
    }
        .top-menu .menu-links a:hover{
            color: var(--color-theme-dark);
        }

    .top-menu .menu-links .social-media{
        margin-left: 1.2rem;
        font-size: var(--font-size-14);
    }

        .top-menu .menu-links .social-media a{
            margin: 0 0.3rem;
        }
            .top-menu .menu-links .social-media a:last-child{
                margin: 0 0 0 0.1rem;
            }



/* Main Menu Logo/Choices */
.main-menu{
    background-color: var(--color-white);
}
    .main-menu .brand{
        margin: 1rem 0.5rem;
        flex: 2;
    }
    .main-menu .search{
        flex: 4;
    }
    .main-menu .menu-links{
        display: none;
    }
        .main-menu .menu-links .menu-link {
            text-decoration: none;
            color:var(--color-theme-dark);
            margin: 0 0.8rem;
        }
            .main-menu .menu-links .menu-link:hover {
                color: var(--color-theme);
            }
            .main-menu .menu-links .menu-link:first-child {
                margin:0 2.4rem 0 0;
            }
            .main-menu .menu-links .menu-link:last-child {
                margin:0 0 0 0.8rem ;
            }
            

        .main-menu .menu-links .menu-link i{
            font-size:var(--font-size-16) ;
        }

/* Main menu - Bottom menu MOBILE */
.menu-bottom-m {
    border-top:1px solid var(--color-gray-0);
    background-color: var(--color-white);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    }
    .menu-bottom-m .menu-link{
        text-decoration: none;
        color: var(--color-theme-dark);
        font-size: 2rem;
    }
    .menu-bottom-m .button{
        border: none;
        margin-top: 3.5px;
        padding:0;
        background-color: white;
    }

 /* Hamburger menu inside Bottom menu MOBILE */
.popup-menu-m {
    height: 87%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(32,211,194, 0.9);
    background-color: var(--color-theme);
    font-weight: var(--font-weight-bold);
    }
        .popup-menu-m .container a {
        text-decoration: none;
        font-size: 1.7rem;
        color: var(--color-theme-dark);
        display: block;
        transition: 0.3s;
        text-align: start;
        }
        .popup-menu-m .container > a:first-child {
            font-size: 1.5rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            color: rgb(14, 21, 61, 0.6);
            
        }
        .popup-menu-m a:hover, .popup-menu-m a:focus {
            color: #f1f1f1;
        }

            .popup-menu-m button {
                background-color: var(--color-theme);
                border: none;
                display: block;
                font-size: 1rem;
                font-weight: var(--font-weight-bold);
                padding: 0;
            }
                .popup-menu-m button span {
                    font-size: 1.7rem;
                }
                .popup-menu-m .aco-btn button > span {
                    font-size: 1.3rem;
                    color: rgb(14, 21, 61, 0.6);
                }
                .popup-menu-m .aco-btn button > i {
                    color: rgb(14, 21, 61, 0.6);
                    font-size: 0.8rem;
                }
                
    /* Accordion*/
    .popup-menu-m .accordion{
        padding:0;
    }
    .popup-menu-m .accordion .accordion-item{
        border: none;
    }
        .popup-menu-m .accordion li{
            background-color: var(--color-theme);
            list-style: none; 
        }
        .popup-menu-m .accordion .dropdown-item{
            padding: 0;
            margin: 0;
        }
        .popup-menu-m .accordion .accordion-body{
            padding: 0;
            margin-left: 1.2rem;
        }
            .popup-menu-m .accordion .accordion-theme a{
                font-size: 1.2rem;
                font-weight: var(--font-weight-bold);
                color: rgb(14, 21, 61, 0.67);
                padding-top: 7px;
            }
                .popup-menu-m .accordion .accordion-item:nth-child(2){
                    margin-top: 4rem;
                }
                .popup-menu-m .accordion .language li:last-child{
                    padding-bottom: 12px;
                }

    /* Categories & Special offer button */
    .main-menu nav{
        border-top: 1px solid var(--color-gray-3);
        border-bottom: 1px solid var(--color-gray-3);
    }    
            /*  Bytte plats p책 dessa element  */ 
            .main-menu > nav > .container{
                display: none;
            }
            /* Bytte plats p책 dessa element */
         










            /* Showcase */
.showcase{
    background-color: var(--color-gray-3);
   
}
    .showcase .container{
        text-align: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    
        .showcase .showcase-body h1{
            font-size: 3.5rem;
            font-family: var(--font-play);
        }
                 .showcase .showcase-body h1 strong{
                font-weight: var(--font-weight-bold);
                color:var(--color-theme);
            }
        
        .showcase .showcase-body p{
            margin: 2rem 0;   
            }

    .showcase img{
        display: none;
    }





/* Webshop-info */

.webshop-info{
    padding: 4rem 0;
}
    .webshop-info .container{
        max-width: 1600px;
        display: flex;
        justify-content: space-evenly;
    }


    .webshop-info .info-box{
        background-color: var(--color-theme-light);
        padding: 1rem;;
        display: flex;
        align-items: center;
        margin:0 2rem;
        flex:1;
        border-radius: var(--border-radius-small);
    }
    .webshop-info .info-box:hover{
        background-color: var(--color-theme);
        color: var(--color-white);
    }

    .webshop-info .info-box img{
    margin-right:1.5rem;
    }
        .webshop-info .info-box:hover img{
            filter:brightness(1000%) ;
        }
    .webshop-info .info-box h1{
    color: var(--color-theme);
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    }

        .webshop-info .info-box:hover h1{
            color:var(--color-white);
        }





/* Shop by category */
.shop-by-category .grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 200px));
    grid-template-rows:repeat(5, minmax(100px, 200px));
    gap: 0.8rem;
    justify-content: center;
}
    .shop-by-category .section-title{
        text-align: center;
        margin-top: 1.5rem;
    }
    .shop-by-category .category-box{
        background-color: var(--color-gray-1);
        border-radius: var(--border-radius-small);
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
        
        .shop-by-category .category-box .category-box-title{
            background-color:var(--color-theme-dark) ;
            color: var(--color-theme);
            padding: 0.5rem 0.7rem;
            font-weight: var(--font-weight-medium);
            min-width: 50%;
            border-top-right-radius: var(--border-radius-small);
            position: absolute;
            bottom: 0;
            left:0;
            height: 38px;
        }
            .shop-by-category .category-box .category-box-title span{
                display:block;
                color:var(--color-white);
                font-size: 0.8rem;
                margin-top: 0.5rem;
                
            }
                .shop-by-category .category-box:hover .category-box-title{
                background-color: var(--color-theme);
                color: var(--color-theme-dark);
                cursor: pointer;
                height: 75px;
             }
                .shop-by-category .category-box:hover{
                    cursor: pointer;
            }






/* Media */

@media (min-width: 578px) {
    .top-menu .menu-links{
        display: block;
    }
    .top-menu > .container{
        justify-content: space-between;
    }

    .menu-bottom-m{
        display: none;
    }
    
    .main-menu > .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }
        .main-menu .menu-links{
            display: flex;
            flex: 3;
            justify-content: end;
            align-items: center;
        }
        /* vvvv Bytte plats p책 dessa element vvvv */ 
    .main-menu > nav > .container{
        display: flex;
    }
        .main-menu nav .browse-categories{
            flex: 2;
        }
            .main-menu nav .browse-categories button{
                background-color: var(--color-theme);
                border: none;
                color: var(--color-white);
                font-size: 1rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding:0.7rem 1rem;
            }
                .main-menu nav .browse-categories button:hover{
                    background-color: var(--color-theme-dark);
                    color: var(--color-white);
                }


            .main-menu nav .browse-categories button span{
                display: flex;
                align-items: center;
            }
                .main-menu nav .browse-categories button > span > i{
                    font-size: 1.3em;
                }
            
            .main-menu nav .special-offer{
                flex: 7;
                display: flex;
                justify-content: end;
                align-items: center;
            } 
            /* ^^^^ Bytte plats p책 dessa element ^^^^  */ 

    
}


        
@media(min-width:768px) {
    
    .top-menu{
        display: flex;
    }

    .shop-by-category .grid{
        display: grid;
        grid-template-columns: repeat(3, minmax(50px, 200px));
        grid-template-rows:repeat(3, minmax(50px, 200px));
        gap: 0.8rem;
    } 
        #category-box-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        }
        #category-box-2 {
        grid-column: 3 / -1;
        grid-row: 1 / 2;
        }
        #category-box-3 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        }
        #category-box-4 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        }
        #category-box-5 {
        grid-column: 3 / -1;
        grid-row: 2 / 3;
        }
        #category-box-6 {
        grid-column: 2 / -1;
        grid-row: 3 / -1;
        }
        #category-box-7 {
        grid-column: 1 / 2;
        grid-row: 3 / -1;
        }



}


@media(min-width:992px) {
    .top-menu .menu-links .site-links{
        display: inline;
    }

    .showcase .container{
        text-align: left;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
    }
    .showcase img{
        display: block;
        width: 50%;
    }

     .shop-by-category .grid{
        display: grid;
        grid-template-columns: repeat(5, minmax(100px, 249px));
        grid-template-rows:repeat(3, minmax(100px, 249px));
        gap: 0.8rem;
    } 
    #category-box-1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        }
    #category-box-2 {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        }
    #category-box-3 {
        grid-column: 4 / -1;
        grid-row: 1 / 3;
        }
    #category-box-4 {
        grid-column: 1 / 3;
        grid-row: 2 / -1;
        }
    #category-box-5 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        }
    #category-box-6 {
        grid-column: 3 / 5;
        grid-row: 3 / -1;
        }
            
    #category-box-7 {
        grid-column: 5 / -1;
        grid-row: 3 / -1;
        }

        



}

@media(max-width:1200px) {
    .main-menu .menu-link span{
        display: none;
    }

   
    .main-menu .menu-links .menu-link:first-child {
        margin:0 0.8rem 0 0;
    }
        
}